Package: dev.mineek.appstoretroller
Name: appstoretroller
Version: 0.1.1-cobra2168
Architecture: iphoneos-arm
Description: Bypass the iOS version check in order to purchase unsupported apps from the AppStore
Maintainer: Mineek
Author: Mineek
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
